# Python
__pycache__/
*.py[cod]
*$py.class

# PyInstaller / Build
build/
dist/
*.manifest
*.spec
app_payload.zip
*.zip
*.exe
*.old*

# Downloads and Output
downloads/
processed/
logs/
*.mp4
*.mkv
*.webm

# Environment
.venv/
env/
venv/
